* {
    border: none;
    border-radius: 0;
    font-family: "JetBrains Mono";
    font-weight: 800;
    font-size: 12px;
}

window#waybar {
    background-color: #1d2021;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces button label{
    color: #689d6a;
}
#workspaces button.focused label {
    color: #1d2021;
}
#workspaces button.focused {
    background: #689d6a;
}

#pulseaudio,
#network,
#cpu,
#memory,
#language,
#battery,
#tray,
#clock {
    padding: 0 5px;
    margin: 0 10px;
    color: #ebdbb2;
}

#pulseaudio.muted {
    color: #cc241d;
}

#battery.charging, #battery.plugged {
    color: #98971a;
}

#battery.warning:not(.charging) {
    color: #fabd2f;
}

#battery.critical:not(.charging) {
    color: #cc241d;
}

#clock {
    color: #fabd2f;
}
